[submodule "services/api-gateway"]
	path = services/api-gateway
	url = git@github.com:mikicit/better-city-api-gateway.git
	branch = main
	ignore = all
[submodule "services/issue-service"]
	path = services/issue-service
	url = git@github.com:mikicit/better-city-issue-service.git
	branch = main
	ignore = all
[submodule "services/user-service"]
	path = services/user-service
	url = git@github.com:mikicit/better-city-user-service.git
	branch = main
	ignore = all
[submodule "services/notification-service"]
	path = services/notification-service
	url = git@github.com:mikicit/better-city-notification-service.git
	branch = main
	ignore = all
